@using StaffScheduling.Web.Models.InputModels.Vacation;
@model DeleteAllVacationsOfEmployeeInputModel

<form id="deleteAllForm" asp-controller="Vacation" asp-action="DeleteAllVacationsOfEmployee" method="post" class="col-md-3">
    <input asp-for="CompanyId" hidden/>
    <input asp-for="EmployeeId" hidden />

    <button type="button" class="btn btn-sm btn-outline-danger w-auto" onclick="confirmDeleteAll()">Delete All Vacations</button>
</form>