@using StaffScheduling.Web.Models.InputModels.EmployeeInfo;
@model DeleteEmployeeInputModel


<form id="deleteForm-@Model.EmployeeId.ToString()" asp-controller="Employee" asp-action="Delete" method="post">
    <input asp-for="CompanyId" type="hidden" readonly />
    <input asp-for="EmployeeId" type="hidden" readonly />
    <button type="button" class="btn btn-danger btn-sm" onclick="confirmDelete('@Model.EmployeeId.ToString()')">Delete</button>
</form>