@using StaffScheduling.Web.Models.InputModels.EmployeeInfo;
@model DeleteAllEmployeesInputModel

<form id="deleteAllForm" asp-controller="Employee" asp-action="DeleteAll" method="post" class="col-md-3">
    <input asp-for="CompanyId" hidden/>
    <button type="button" class="btn btn-sm btn-outline-danger w-auto" onclick="confirmDeleteAll()">Delete All Employees</button>
</form>