@using StaffScheduling.Web.Models.InputModels.Company;
@model CompanyCreateInputModel

@{
    ViewData["Title"] = "Create Company";
}

<div class="form-custom">
    <form id="createForm" method="post">
        <h2>Create Company</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="Name" class="form-control" autocomplete="company-name" aria-required="true" placeholder="Example Company" />
            <label asp-for="Name">@Model.Name</label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="MaxVacationDaysPerYear" class="form-control" autocomplete="max-vacation-days-per-year" aria-required="true" placeholder="e.g. 10" />
            <label asp-for="MaxVacationDaysPerYear">@Model.MaxVacationDaysPerYear</label>
            <span asp-validation-for="MaxVacationDaysPerYear" class="text-danger"></span>
        </div>
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Create</button>
    </form>
</div>