@using StaffScheduling.Web.Models.ViewModels.Company;
@model CompanyJoinViewModel

@{
    ViewData["Title"] = "Join Company";
}

<div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
    <div class="card shadow border-0 w-100" style="max-width: 700px;">
        <div class="card-body text-center">
            <h1 class="card-title mb-4">Company Invitation</h1>
            <hr />

            <p class="text-center">
                You are about to join the company: <span class="h5 font-weight-bold">@Model.Name</span>
            </p>
            <hr />

            <!-- Display error message if there are any -->
            <div asp-validation-summary="All" class="text-danger mb-3"></div>

            <form asp-action="Join" method="post">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Name" />

                <button type="submit" class="btn btn-dark btn-lg mt-3">Join Company</button>
            </form>
        </div>
    </div>
</div>